.card {
    aspect-ratio: 1 / 1;
    // background-color: var(--ion-color-primary);
    // border: solid 1px;
    border-radius: 15px;
    border: 3px solid #abb7c4;
    background-image: linear-gradient(var(--ion-color-tertiary),var(--ion-color-secondary),var(--ion-color-primary));
    color: var(--ion-color-tertiary-contrast);
    display: inline-flex;
    // margin: 0 5px 5px 0;
    padding: 5px;
    width: 45%;
  }
  .card-label { 
    // display: block;
    float: left;
    height: 2.5em;
    // text-overflow: ellipsis;
    white-space: inherit;
    // width: 80%;
  }
  .card-check {
    display: inline-block;
    // float: right;
    margin-top: 0.5em;
    height: fit-content;
    // max-width: 20%;
    filter: grayscale(100);
  }
  .left {
    float: left;
    clear: both;
    margin: 5px 5px 0 10px;
  }
  .right {
    float: right;
    margin: 5px 10px 0 0;
  }
  