ion-toolbar {
  --background: var(--ion-color-light);
  ion-title {
    --color: var(--ion-color-dark);
    font-size: 24px;
  }
}
.link-discord {
  mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2216%22%20fill%3D%22none%22%3E%3Cpath%20fill%3D%22%2392A0B3%22%20d%3D%22M16.93%201.33A16%2016%200%200%200%2012.86%200c-.03%200-.05%200-.07.03-.17.33-.37.76-.5%201.1a14.5%2014.5%200%200%200-4.57%200A11%2011%200%200%200%207.2.03.06.06%200%200%200%207.14%200a15.9%2015.9%200%200%200-4.1%201.35%2018.4%2018.4%200%200%200-2.93%2012%2016.3%2016.3%200%200%200%205%202.65c.02%200%20.05%200%20.06-.03q.585-.825%201.02-1.74a.07.07%200%200%200-.03-.1%2011%2011%200%200%201-1.56-.77.07.07%200%200%201%200-.12l.3-.25a.06.06%200%200%201%20.07-.01%2011.32%2011.32%200%200%200%2010.05%200h.06c.1.1.21.18.32.26.03.03.03.1-.01.12q-.75.45-1.56.78a.07.07%200%200%200-.04.09c.3.6.65%201.2%201.03%201.74.01.03.04.04.07.03a16.2%2016.2%200%200%200%205.02-2.7%2018.26%2018.26%200%200%200-2.98-11.97M6.68%2010.9c-.98%200-1.8-.95-1.8-2.11%200-1.17.8-2.12%201.8-2.12%201.01%200%201.82.96%201.8%202.12%200%201.16-.8%202.11-1.8%202.11m6.65%200c-.99%200-1.8-.95-1.8-2.11%200-1.17.8-2.12%201.8-2.12s1.81.96%201.8%202.12c0%201.16-.8%202.11-1.8%202.11%22%2F%3E%3C%2Fsvg%3E);
  // color: var(--ion-color-primary);
  height: 22px;
  width: 28px;
}
ion-segment {
  // --background: #b8dfff;
  margin: auto;
  margin-top: 5px;
  width: 97%;
}
ion-segment-button {
  --color-checked: var(--ion-color-primary);
}
.setting-button {
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
}
.view-label {
  text-align: center;
}
.rank-header {
  --min-height: content;
  font-size: smaller;
  font-weight: 300;
}
.highlight {
  --background: rgba(75, 177, 255, 0.10);
}
.rank {
  min-width: 24px;
}
ion-avatar {
  background-color: var(--ion-color-light);
  border: solid 0.5px var(--ion-color-medium);
  ion-icon {
    aspect-ratio:  1 / 1;
    color: var(--ion-color-medium);
    // min-height: 24px;
    height: 18px;
    width: 100%;
    vertical-align: bottom;
    // height: 80%;
    // text-align: center;
  }
}
.score {
  color: var(--ion-color-secondary);
}
.video-content {
  background: linear-gradient(#b8dfff, #5eb3f9);
  border-radius: 20px;
  border: 2px solid #8CA1B6;
  margin-bottom: 5px;
  max-width: 100%;
}
// video[poster] {
//   object-fit: cover;
// }