<ion-card (click)="cardClick()">
  <ion-item lines="none" style="--inner-border-width: 0">
    <!-- start -->
    <ion-thumbnail slot="start" (click)="thumbnailClick($event)">
      <ion-img *ngIf="!showVideo" class="fit-thumbnail"
        src="{{assessment.icon}}"></ion-img>
      <div *ngIf="showVideo" class="video-block">
        <video *ngIf="score?.videoUrl" src="{{score.videoUrl}}"
        ></video>
        <ion-button *ngIf="!score?.videoUrl" color="medium" class="add-video-button">
          <!-- <ion-icon slot="icon-only" name="add-circle"></ion-icon> -->
          <ion-icon slot="icon-only" name="videocam-off"></ion-icon>
        </ion-button>
      </div>
    </ion-thumbnail>
    <!-- main -->
    <ion-label>
      <h2>{{assessment.label}}</h2>
      <p *ngIf="score">{{score.rawScore}} {{assessment.entryUnits}}</p>
    </ion-label>
    <!-- end -->
    <div slot="end">
      <span class="units">Lvl {{ score?.calculatedScore/10 | number:'1.0-0' }}</span>
    </div>
  </ion-item>
</ion-card>
