ion-card {
    margin-top: 0;
    margin-bottom: 8px;
}
ion-thumbnail[slot="start"] {
    // default is 16px
    margin-inline-start: -8px;
}
.video-block {
    height: 90%;
    overflow: hidden;
    // position: absolute;
    ion-img::part(image) {
        border-radius: 8px;
        margin: 14px 0;
        width: 100%;
    }
    ion-icon {
        position: relative;

    }
}
// .overlay-icon {
//     position: relative;
//     bottom: 5px;
// }
.add-video-button {
    aspect-ratio: 2 / 1;
    margin: 14px 5px;
    width: 90%;
}
.fit-thumbnail::part(image) {
    border-radius: 5px;
    object-fit: contain;
}
