<ion-content [fullscreen]="true" #scrollarea no-bounce class="ion-content-scroll-host">
  <div class="safe-area"></div>
  <ion-refresher slot="fixed" pullMin="999999">
    <ion-refresher-content pullingIcon="none" refreshingSpinner="none">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-button
      type="button"
      size="default"
      shape="circle"
      color="light"
      (click)="userService.openEditProfile($event, user)"
    >
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-button>
  </ion-fab>

  <app-profile-header [athlete$]="user$" [scores$]="scores$"></app-profile-header>

  <div class="contentCard">
    <ion-item lines="none">
      <ion-card-title>All Assessments</ion-card-title>
    </ion-item>

    <ng-container class="card cardStyle"
      *ngFor="let category of categories$ | async">
      <ion-item class="cat-header" lines="none">
        <ion-text>
          <h6>{{category.label}}</h6>
        </ion-text>
        <ion-text slot="end">
          <h6>
            Level: {{(user$ | async)?.categoryScore[category.cid] / 10 | number:'1.0-0'}}
          </h6>
        </ion-text>
      </ion-item>

      <ng-container *ngFor="let assessment of assessments$ | async">
        <ng-container *ngIf="assessment.cid == category.cid">
          <!-- assesment score card -->
          <ng-container *ngIf="(getScores$(assessment) | async)[0] as score; else zeroScore">

            <app-score-card [showVideo]="(true)" [assessment]="(assessment)" [score]="(score)"
              buttonIcon="add-circle"
              (cardClicked)="openDetails(assessment)"
              (thumbnailClicked)="openNewScore(assessment, user, score)">
            </app-score-card>
          </ng-container>
          <ng-template #zeroScore>
            <app-score-card [showVideo]="(true)" [assessment]="(assessment)"
              buttonIcon="add-circle"
              (cardClicked)="openDetails(assessment)"
              (thumbnailClicked)="openNewScore(assessment, user, undefined)">
            </app-score-card>
          </ng-template>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="bottom-padding"></div>
</ion-content>

<ion-alert
  [isOpen]="newUser"
  header="Welcome to Omni Method"
  message="While we create some estimated assessmnts and generate a starting level for you, cosider configuring a profile picture."
  [buttons]="alertButtons"
></ion-alert>
<!-- subHeader="A Sub Header Is Optional" -->
<!-- (didDismiss)="setOpen(false)" -->
