<ion-content [fullscreen]="true" #scrollarea no-bounce  class="bg-transparent">
  <div class="safe-area"></div>
  <ion-refresher slot="fixed" pullMin="999999">
    <ion-refresher-content pullingIcon="none" refreshingSpinner="none">
  </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-button
      (click)="goBack()"
      type="button"
      size="default"
      shape="circle"
      color="primary"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-fab>

  <ng-container *ngIf="{
    athlete: athlete$ | async,
    categories: categories$ | async,
    assessments: assessments$ | async,
    scores: scores$ | async,
  } as data; else loading">

    <app-profile-header [athlete$]="athlete$" [scores$]="scores$"></app-profile-header>

    <ion-card class="bg-transparent" style="box-shadow: none; margin-bottom: 0">
      <ion-item lines="none">
        <ion-card-title>All Assessments</ion-card-title>
      </ion-item>

      <ng-container *ngFor="let category of data.categories">
        <ion-item class="cat-header" lines="none">
          <ion-text>
            {{category.label}}
          </ion-text>
          <ion-text slot="end">
            Level: {{data.athlete?.categoryScore[category.cid] / 10 | number:'1.0-0'}}
          </ion-text>
        </ion-item>
        <ng-container *ngFor="let assessment of getCategoryAssessments(data.assessments, category.cid)">
          <ng-container *ngIf="getScore(data.scores, assessment.aid) as score; else zeroScore">
            <app-score-card [showVideo]="(showVideo)" [assessment]="(assessment)"
              [score]="(score)" (cardClicked)="playVideo($event)" (thumbnailClicked)="playVideo($event)">
            </app-score-card>
          </ng-container>
          <ng-template #zeroScore>
            <app-score-card [showVideo]="(showVideo)" [assessment]="(assessment)"></app-score-card>
          </ng-template>
        </ng-container>
      </ng-container>

    </ion-card>
  </ng-container>
  <ng-template #loading>Loading...</ng-template>
  <div class="bottom-padding"></div>
</ion-content>
